/vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
